#header{
    background-image: url("backimg3.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    width: 100%;
    top:0 ;
    left: 0;
    right: 0;
    height: 200px;
    display: block;
    border:25px green;
    text-align: center;
    
}

#header span{
   padding:none;
}

#aboutText{
    width: 100%;
    padding-left: 20px;
    left: 0;
    height: 150px;
    background-color:lightcyan;
    display: block;
    border:black;
}

body{
    background-image: url("backimg.jpg");
    width: 100%;
    height: 550px;
    border-radius: 15px;
    text-align: left;
    border: black;
    position:relative;
    background-color: white;
    padding-left:50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

*{
    box-sizing: border-box;
}
h2{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color:royalblue;
}
h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:steelblue;
    font-size: 40px;
}

h4{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:steelblue;
    font-size: 10px;

}
.row{
    display: flex;
    background-color: green;

}

.column1{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    flex:32%;
    padding:10px;
    height: 500px;
    background-image: url("weblabback2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    border: black;
}
.column2{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    flex:32%;
    padding:10px;
    height: 500px;
    background-color:navajowhite;
    border: black;
    overflow-y:scroll;
}
.column3{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    flex:32%;
    padding:10px;
    height: 500px;
    background-image: url("weblabback2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    border: black;
}


#footer{
    background-image: url("backimg3.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    bottom: 0;
    z-index:1;
    padding-bottom: 30px;
}

