#header{
    background-image: url("backimg3.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    width: 100%;
    top:0 ;
    left: 0;
    right: 0;
    height: 200px;
    display: block;
    border:25px green;
    text-align: center;
    
}

#header span{
   padding:none;
}

#aboutText{
    width: 100%;
    padding-left: 20px;
    left: 0;
    height: 150px;
    background-color:lightcyan;
    display: block;
    border:black;
}

body #aboutText2{
    width: 60%;
    padding-left: 20px;
    left: 0;
    height: 50px;
    background-color:lightcyan;
    display: block;
    border:black;
    margin-left:auto;
    margin-right:auto;
}

body #aboutText3{
    width: 60%;
    padding-left: 20px;
    left: 0;
    height: 300px;
    background-color:lightcyan;
    display: block;
    border:black;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:steelblue;
}

body{
    background-image: url("backimg.jpg");
    width: 100%;
    height: 550px;
    border-radius: 15px;
    text-align: left;
    border: black;
    position:relative;
    background-color: white;
    padding-left:50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

*{
    box-sizing: border-box;
}
h2{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color:royalblue;
}

h3{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color:royalblue;

}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:steelblue;
    font-size: 40px;
}

#header h4{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:steelblue;
    font-size: 10px;

}
.row{
    display: flex;
    background-color: green;

}

.column1{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    flex:32%;
    padding:10px;
    height: 500px;
    background-image: url("weblabback2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    border: black;
    overflow-y:scroll;
}
.column2{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    flex:32%;
    padding:10px;
    height: 500px;
    background-color:navajowhite;
    border: black;
    overflow-y:scroll;
}
.column3{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    flex:32%;
    padding:10px;
    height: 500px;
    background-image: url("weblabback2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    border: black;
}


#footer{
    background-image: url("backimg3.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    bottom: 0;
    z-index:1;
    padding-bottom: 30px;
}

button {
  background-color: #7c96ce;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-left:50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  float: right;
}

.newsArt {
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
}

.newsArt > h1,
.newsSubj {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.newsSubj {
    background: right/contain content-box border-box no-repeat
        url('/media/examples/rain.svg') white;
}

.newsSubj > h2,
.newsSubj > p {
    margin: .2rem;
    font-size: 1rem;
}


#aboutText3 h1 { 
	box-shadow: .6em 0 0 #05ffa3;
  margin: 2rem 1rem;
	width: 23ch;
  overflow: hidden;
  color: black;
	white-space: nowrap;
	animation: caret .5s step-end infinite alternate,
             type 5s steps(23, end)
}

#aboutText3 h3 { 
	box-shadow: .6em 0 0 #05ffa3;
    margin: 0.7rem 1rem;
	width: 23ch;
    overflow: hidden;
    color: black;
	white-space: nowrap;
	animation: caret .5s step-end infinite alternate,
    type 5s steps(23, end)
}



@keyframes type {
  0% {
    width: 0;
  }

}
@keyframes caret { 
  50% { 
    box-shadow: .6em 0 0 transparent;
  }
}